%fieldset
  %legend Password Reset Request
  = form_tag password_resets_path, :method => :post do
    = label_tag :email
    = text_field_tag :email, params[:email]
    %p
    %p
    = submit_tag "Reset Password", :class => "actions"